:root {
	--text-color-1: rgb(255, 255, 255);
	--text-color-2: rgb(19, 14, 39);
	--text-color-3: rgb(198, 35, 20);
	--text-color-4: rgb(22, 22, 22);
	--text-color-5: #130e27;
	--text-color-6: rgb(239, 239, 239);
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'PT Serif';
	src: url(../fonts/PTSerif-Regular.ttf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:link,
:visited {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header {
	background-image: url(/img/background\ header@2x.png);
	background-size: cover;
}

.container {
	width: 1010px;
	max-width: 100%;
	margin: 0 auto;
}

/* Скрытие чекбокса */
#burger-checkbox {
	display: none;
}

.header__inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 25px;
	padding-bottom: 160px;
}
.menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.menu__img {
	width: 275px;
	height: 100px;
}

.menu__item {
	display: flex;
	align-items: center;
}

.menu__list {
	display: flex;
	padding: 0;
}
.menu__text {
	list-style: none;
}

.menu__text a {
	text-decoration: none;
	font-size: 18px;
	color: var(--text-color-1);
	padding: 15px;
	text-transform: uppercase;
}

.menu__text a:hover {
	border-radius: 5px;
	background-color: var(--text-color-2);
}

.header__item {
	display: flex;
	flex-direction: column;
	max-width: 490px;
	margin-left: 20px;
}
.header__title {
	font-size: 80px;
	color: var(--text-color-2);
	font-weight: bold;
	margin-bottom: 45px;
	text-transform: uppercase;
}

.header__title span {
	color: var(--text-color-1);
}
.header__text {
	font-size: 20px;
	font-family: 'PT Serif', sans-serif;
	color: var(--text-color-1);
}

/* SERVICES */

.services__inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 45px 0 75px 0;
}
.services__title {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 100px;
	text-transform: uppercase;
}
.services__title span {
	color: var(--text-color-3);
}
.services__items-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.services__item {
	max-width: 180px;
	text-align: center;
}
.services__img {
	height: 143px;
	margin-bottom: 50px;
}
.services__text {
	font-size: 20px;
	font-family: 'PT Serif';
	color: var(--text-color-4);
}

/* ABOUT */

.about {
	background-color: var(--text-color-5);
}
.about__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 20px;
}
.about__text {
	font-size: 18px;
	font-family: 'PT Serif';
	color: var(--text-color-1);
	margin-left: 20px;
	max-width: 600px;
}
.about__btn {
	font-size: 22px;
	color: var(--text-color-1);
	width: 128px;
	height: 17px;
	background-color: var(--text-color-3);
	margin-left: 120px;
	text-transform: uppercase;
	border: 1px solid var(--text-color-1);
	outline: none;
	transition: 1s ease-in-out;
}

.about__inner button {
	border-radius: 5px;
	border-style: none;
	background-color: var(--text-color-3);
	width: 270px;
	height: 64px;
	cursor: pointer;
}

.about__btn:hover {
	transition: 1s ease-in-out;
	background: var(--text-color-1);
	color: var(--text-color-2);
}

/* PRICES */

.prices {
	background-color: var(--text-color-6);
}
.prices__inner {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 65px 0;
}
.prices__title {
	font-size: 50px;
	color: var(--text-color-2);
	font-weight: bold;
	margin-bottom: 60px;
	text-transform: uppercase;
}
.prices__cards {
	display: flex;
	justify-content: space-between;
}

.prices__card {
	border-radius: 5px;
	background-color: var(--text-color-1);
	width: 318px;
	height: 389px;
	padding-top: 25px;
}
.prices__card-title {
	font-size: 22px;
	font-family: 'PT Serif';
	color: var(--text-color-4);
	margin-bottom: 25px;
}
.prices__card-price {
	font-size: 60px;
	color: var(--text-color-3);
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.prices__card-text ul {
	line-height: 28px;
	margin-bottom: 20px;
}

.prices__btn {
	border-radius: 4px;
	border-style: none;
	text-transform: uppercase;
	background-color: var(--text-color-2);
	width: 205px;
	height: 49px;
	cursor: pointer;
	font-size: 22px;
	color: var(--text-color-1);
	border: 1px solid var(--text-color-1);
	outline: none;
	transition: 1s ease-in-out;
}

/* .prices__btn:hover {
	transition: 1s ease-in-out;
	background: var(--text-color-3);
	color: var(--text-color-1);
} */

#button__2 {
	background-color: var(--text-color-3);
}
/* #button__2:hover {
	transition: 1s ease-in-out;
	background: var(--text-color-1);
	color: var(--text-color-2);
	border: 1px solid var(--text-color-2);
} */

/* FOOTER */

.footer {
	background-color: var(--text-color-2);
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0;
}
.footer__text {
	font-size: 20px;
	font-family: 'PT Serif';
	color: var(--text-color-1);
}

.footer__text span {
	color: var(--text-color-3);
}
.footer__img {
	width: 205px;
	height: 65px;
}

/* MODAL */

/* 24dp elevation */
.z-depth-5,
.modal {
	-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fafafa;
	padding: 0;
	max-height: 70%;
	width: 55%;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity;
}

.modal:focus {
	outline: none;
}

@media only screen and (max-width: 992px) {
	.modal {
		width: 80%;
	}
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
	margin-top: 0;
}

.modal .modal-content {
	padding: 14px;
}

.modal .modal-close {
	cursor: pointer;
}

.modal-overlay {
	position: fixed;
	z-index: 999;
	top: -25%;
	left: 0;
	bottom: 0;
	right: 0;
	height: 125%;
	width: 100%;
	background: #000;
	display: none;
	will-change: opacity;
}

.modal.modal-fixed-footer {
	padding: 0;
	height: 70%;
}

.modal.modal-fixed-footer .modal-content {
	position: absolute;
	height: calc(100% - 56px);
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
}

.modal.bottom-sheet {
	top: auto;
	bottom: -100%;
	margin: 0;
	width: 100%;
	max-height: 45%;
	border-radius: 0;
	will-change: bottom, opacity;
}

.datepicker-container.modal-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
}

/* Media Queries */
@media only screen and (min-width: 601px) {
	.datepicker-modal {
		max-width: 625px;
	}
	.datepicker-container.modal-content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.datepicker-date-display {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 270px;
		-ms-flex: 0 1 270px;
		flex: 0 1 270px;
	}
	.datepicker-controls,
	.datepicker-table,
	.datepicker-footer {
		width: 320px;
	}
	.datepicker-day-button {
		line-height: 44px;
	}
}

.timepicker-container.modal-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
}

/* Media Queries */
@media only screen and (min-width: 601px) {
	.timepicker-modal {
		max-width: 600px;
	}
	.timepicker-container.modal-content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.timepicker-text-container {
		top: 32%;
	}
	.timepicker-display-am-pm {
		position: relative;
		right: auto;
		bottom: auto;
		text-align: center;
		margin-top: 1.2rem;
	}
}
